<!doctype html>
<html class="no-js" lang="zxx">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>前程无忧招聘网站数据分析平台</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Place favicon.ico in the root directory -->
      <link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.png">
      <!-- CSS here -->
      <link rel="stylesheet" href="static/assets/css/preloader.css">
      <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/assets/css/meanmenu.css">
      <link rel="stylesheet" href="static/assets/css/animate.min.css">
      <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
      <link rel="stylesheet" href="static/assets/css/swiper-bundle.css">
      <link rel="stylesheet" href="static/assets/css/backToTop.css">
      <link rel="stylesheet" href="static/assets/css/jquery.fancybox.min.css">
      <link rel="stylesheet" href="static/assets/css/fontAwesome5Pro.css">
      <link rel="stylesheet" href="static/assets/css/flaticon.css">
      <link rel="stylesheet" href="static/assets/css/default.css">
      <link rel="stylesheet" href="static/assets/css/style.css">
   </head>
   <body>

      <div id="loading">
         <div id="loading-center">
            <div id="loading-center-absolute">
               <div class="loading-icon text-center d-sm-flex align-items-center">
                  <img class="loading-logo mr-10" src="static/assets/img/preloader/preloader-icon.png" alt="">
                  <img src="static/assets/img/preloader/preloader-logo.png" alt="">
               </div>
            </div>
         </div>  
      </div>
      <!-- pre loader area end -->

      <!-- header  -->
      <header>
         <div id="header-sticky" class="header-area header-transparent header-pad header-border">
            <div class="container-fluid">
               <div class="row align-items-center">
                  <div class="col-xl-2 col-lg-2 col-6">
                     <div class="logo logo-border",style="font-size":30px>

                        <a href="https://search.51job.com/list/000000,000000,0000,00,9,99,%2B,2,1.html">
                            <img src="static/assets/img/about/logo_white.png"></img>
                        </a>
                     </div>
                  </div>
                  <div class="col-xl-8 col-lg-8 d-none d-lg-block">

                  </div>
                  <!-- 搜索功能-->
                  <div class="col-xl-2 col-lg-2 col-6">
                     <div class="header-right-info d-flex align-items-center justify-content-end">
                        <div class="header-search">
                           <button class="search-toggle" type="button"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="sidebar__menu d-lg-none">
                           <div class="sidebar-toggle-btn ml-30" id="sidebar-toggle">
                               <span class="line"></span>
                               <span class="line"></span>
                               <span class="line"></span>
                           </div>
                       </div>
                        <div class="header-btn d-none d-lg-block">
                           <a href="aaaa" class="tp-btn">搜索</a>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>
      </header>
      <!-- header end -->


      <div class="body-overlay transition-3"></div>

      <main>

         <!-- slider area end -->

         <!-- services area start -->
         <div class="main-services black-bg pt-120 pb-90" data-background="static/assets/img/pattern/pt1.png">
            <div class="container">
               <div class="row mb-60">
                  <div class="col-12">
                     <div class="sec-wrapper text-center">
                        <h5>
                            Data visualization</h5>
                        <h2 class="section-title text-white">前程无忧数据可视化平台</h2>
                     </div>
                  </div>
               </div>
               <div class="row text-center">
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 mb-30">
                     <div class="mservices fix">
                        <div class="ms-line-shape">
                           <div class="ms-line"></div>
                           <div class="ms-line2"></div>
                        </div>
                        <div class="mservices__icon">
                           <i class="flaticon-web-optimization"></i>
                        </div>
                        <div class="mservices__text">
                           <h3 class="ms-title"><a href="picture1" >公司类别分布图</a></h3>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 mb-30">
                     <div class="mservices fix">
                        <div class="ms-line-shape">
                           <div class="ms-line"></div>
                           <div class="ms-line2"></div>
                        </div>
                        <div class="mservices__icon">
                           <i class="flaticon-develop"></i>
                        </div>
                        <div class="mservices__text">
                           <h3 class="ms-title"><a href="picture2">公司规模分布图</a></h3>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 mb-30">
                     <div class="mservices fix">
                        <div class="ms-line-shape">
                           <div class="ms-line"></div>
                           <div class="ms-line2"></div>
                        </div>
                        <div class="mservices__icon">
                           <i class="flaticon-graphic-design"></i>
                        </div>
                        <div class="mservices__text">
                           <h3 class="ms-title"><a href="picture3">公司性质分布图</a></h3>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 mb-30">
                     <div class="mservices fix">
                        <div class="ms-line-shape">
                           <div class="ms-line"></div>
                           <div class="ms-line2"></div>
                        </div>
                        <div class="mservices__icon">
                           <i class="flaticon-online-business"></i>
                        </div>
                        <div class="mservices__text">
                           <h3 class="ms-title"><a href="picture4">城市岗位数量分布</a></h3>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 mb-30">
                     <div class="mservices fix">
                        <div class="ms-line-shape">
                           <div class="ms-line"></div>
                           <div class="ms-line2"></div>
                        </div>
                        <div class="mservices__icon">
                           <i class="flaticon-app-development"></i>
                        </div>
                        <div class="mservices__text">
                           <h3 class="ms-title"><a href="picture5">岗位日发布与薪资</a></h3>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 mb-30">
                     <div class="mservices fix">
                        <div class="ms-line-shape">
                           <div class="ms-line"></div>
                           <div class="ms-line2"></div>
                        </div>
                        <div class="mservices__icon">
                           <i class="flaticon-copywriter"></i>
                        </div>
                        <div class="mservices__text">
                           <h3 class="ms-title"><a href="picture6">城市与岗位分析</a></h3>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 mb-30">
                     <div class="mservices fix">
                        <div class="ms-line-shape">
                           <div class="ms-line"></div>
                           <div class="ms-line2"></div>
                        </div>
                        <div class="mservices__icon">
                           <i class="flaticon-solution"></i>
                        </div>
                        <div class="mservices__text">
                           <h3 class="ms-title"><a href="picture7">公司规模与薪资图</a></h3>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 mb-30">
                     <div class="mservices fix">
                        <div class="ms-line-shape">
                           <div class="ms-line"></div>
                           <div class="ms-line2"></div>
                        </div>
                        <div class="mservices__icon">
                           <i class="flaticon-resource"></i>
                        </div>
                        <div class="mservices__text">
                           <h3 class="ms-title"><a href="picture8">学历与薪资关系</a></h3>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>



      <!-- JS here -->
      <script src="static/assets/js/vendor/jquery-3.6.0.min.js"></script>
      <script src="static/assets/js/vendor/waypoints.min.js"></script>
      <script src="static/assets/js/bootstrap.bundle.min.js"></script>
      <script src="static/assets/js/jquery.meanmenu.js"></script>
      <script src="static/assets/js/swiper-bundle.min.js"></script>
      <script src="static/assets/js/owl.carousel.min.js"></script>
      <script src="static/assets/js/jquery.fancybox.min.js"></script>
      <script src="static/assets/js/isotope.pkgd.min.js"></script>
      <script src="static/assets/js/parallax.min.js"></script>
      <script src="static/assets/js/backToTop.js"></script>
      <script src="static/assets/js/jquery.counterup.min.js"></script>
      <script src="static/assets/js/ajax-form.js"></script>
      <script src="static/assets/js/wow.min.js"></script>
      <script src="static/assets/js/imagesloaded.pkgd.min.js"></script>
      <script src="static/assets/js/wavify.js"></script>
      <script src="static/assets/js/main.js"></script>
   </body>
</html>

