<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="bf8a3a8772654296b5bff5e355a01109" class="chart-container" style="width:1400px; height:700px;"></div>
    <script>
        var chart_bf8a3a8772654296b5bff5e355a01109 = echarts.init(
            document.getElementById('bf8a3a8772654296b5bff5e355a01109'), 'white', {renderer: 'canvas'});
        var option_bf8a3a8772654296b5bff5e355a01109 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u56fe\u50cf\u5904\u7406",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "06-22",
                    270000.0
                ],
                [
                    "06-23",
                    228000.0
                ],
                [
                    "06-24",
                    270000.0
                ],
                [
                    "06-25",
                    210000.0
                ],
                [
                    "06-26",
                    300000.0
                ],
                [
                    "06-27",
                    155000.0
                ],
                [
                    "06-28",
                    150000.0
                ],
                [
                    "06-29",
                    270000.0
                ],
                [
                    "06-30",
                    270000.0
                ],
                [
                    "07-01",
                    210000.0
                ],
                [
                    "07-02",
                    375000.0
                ],
                [
                    "07-03",
                    138000.0
                ],
                [
                    "07-04",
                    300000.0
                ],
                [
                    "07-05",
                    260000.0
                ],
                [
                    "07-06",
                    720000.0
                ],
                [
                    "07-07",
                    240000.0
                ],
                [
                    "07-08",
                    162000.0
                ],
                [
                    "07-09",
                    270000.0
                ],
                [
                    "07-11",
                    195000.0
                ],
                [
                    "07-12",
                    325000.0
                ],
                [
                    "07-13",
                    182000.0
                ],
                [
                    "07-14",
                    238500.0
                ],
                [
                    "07-15",
                    150000.0
                ],
                [
                    "07-16",
                    180000.0
                ],
                [
                    "07-18",
                    192000.0
                ],
                [
                    "07-19",
                    180000.0
                ],
                [
                    "07-21",
                    231857.14
                ],
                [
                    "07-22",
                    225750.0
                ],
                [
                    "07-23",
                    271200.0
                ],
                [
                    "07-24",
                    242625.0
                ],
                [
                    "07-25",
                    279928.57
                ],
                [
                    "07-26",
                    243000.0
                ],
                [
                    "07-27",
                    190500.0
                ],
                [
                    "07-28",
                    267264.71
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u8bed\u97f3\u8bc6\u522b",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "06-22",
                    270000.0
                ],
                [
                    "06-23",
                    360000.0
                ],
                [
                    "06-24",
                    270000.0
                ],
                [
                    "06-25",
                    210000.0
                ],
                [
                    "06-26",
                    250333.33
                ],
                [
                    "06-27",
                    250000.0
                ],
                [
                    "06-28",
                    201333.33
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u6570\u636e\u6316\u6398\u5de5\u7a0b\u5e08",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "06-22",
                    300000.0
                ],
                [
                    "06-23",
                    192000.0
                ],
                [
                    "06-24",
                    240000.0
                ],
                [
                    "06-25",
                    186000.0
                ],
                [
                    "06-26",
                    162000.0
                ],
                [
                    "06-27",
                    210000.0
                ],
                [
                    "06-28",
                    188333.33
                ],
                [
                    "06-29",
                    210000.0
                ],
                [
                    "06-30",
                    270000.0
                ],
                [
                    "07-01",
                    255000.0
                ],
                [
                    "07-02",
                    270000.0
                ],
                [
                    "07-03",
                    182000.0
                ],
                [
                    "07-04",
                    270000.0
                ],
                [
                    "07-05",
                    93000.0
                ],
                [
                    "07-06",
                    278750.0
                ],
                [
                    "07-07",
                    195000.0
                ],
                [
                    "07-08",
                    318000.0
                ],
                [
                    "07-09",
                    162000.0
                ],
                [
                    "07-11",
                    255000.0
                ],
                [
                    "07-12",
                    360000.0
                ],
                [
                    "07-13",
                    244416.67
                ],
                [
                    "07-14",
                    141000.0
                ],
                [
                    "07-15",
                    206500.0
                ],
                [
                    "07-16",
                    194000.0
                ],
                [
                    "07-18",
                    303312.5
                ],
                [
                    "07-19",
                    280000.0
                ],
                [
                    "07-21",
                    183928.57
                ],
                [
                    "07-22",
                    220184.21
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u7b97\u6cd5\u5de5\u7a0b\u5e08",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "06-22",
                    290000.0
                ],
                [
                    "06-23",
                    180000.0
                ],
                [
                    "06-24",
                    174000.0
                ],
                [
                    "06-25",
                    150000.0
                ],
                [
                    "06-26",
                    310000.0
                ],
                [
                    "06-27",
                    292500.0
                ],
                [
                    "06-28",
                    210000.0
                ],
                [
                    "06-29",
                    288000.0
                ],
                [
                    "06-30",
                    124000.0
                ],
                [
                    "07-01",
                    210000.0
                ],
                [
                    "07-02",
                    240000.0
                ],
                [
                    "07-03",
                    150000.0
                ],
                [
                    "07-04",
                    314250.0
                ],
                [
                    "07-05",
                    354000.0
                ],
                [
                    "07-06",
                    285000.0
                ],
                [
                    "07-07",
                    285000.0
                ],
                [
                    "07-08",
                    152500.0
                ],
                [
                    "07-09",
                    393333.33
                ],
                [
                    "07-11",
                    127775.0
                ],
                [
                    "07-12",
                    352500.0
                ],
                [
                    "07-13",
                    207000.0
                ],
                [
                    "07-14",
                    330000.0
                ],
                [
                    "07-15",
                    266400.0
                ],
                [
                    "07-16",
                    455000.0
                ],
                [
                    "07-18",
                    238000.0
                ],
                [
                    "07-19",
                    162000.0
                ],
                [
                    "07-21",
                    276500.0
                ],
                [
                    "07-22",
                    292500.0
                ],
                [
                    "07-23",
                    306000.0
                ],
                [
                    "07-24",
                    186000.0
                ],
                [
                    "07-25",
                    386875.0
                ],
                [
                    "07-26",
                    173750.0
                ],
                [
                    "07-27",
                    450000.0
                ],
                [
                    "07-28",
                    375000.0
                ],
                [
                    "07-29",
                    328500.0
                ],
                [
                    "07-30",
                    408461.54
                ],
                [
                    "07-31",
                    360000.0
                ],
                [
                    "08-01",
                    382900.0
                ],
                [
                    "08-02",
                    360000.0
                ],
                [
                    "08-03",
                    277500.0
                ],
                [
                    "08-04",
                    210000.0
                ],
                [
                    "08-05",
                    284500.0
                ],
                [
                    "08-06",
                    249444.44
                ],
                [
                    "08-07",
                    290714.29
                ],
                [
                    "08-08",
                    228952.38
                ],
                [
                    "08-09",
                    288877.05
                ],
                [
                    "08-10",
                    259761.9
                ],
                [
                    "08-11",
                    288157.89
                ],
                [
                    "08-12",
                    268744.79
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u6570\u636e\u5206\u6790\u5e08",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "06-22",
                    150000.0
                ],
                [
                    "06-23",
                    135000.0
                ],
                [
                    "06-24",
                    240000.0
                ],
                [
                    "06-25",
                    162500.0
                ],
                [
                    "06-26",
                    243333.33
                ],
                [
                    "06-27",
                    155275.0
                ],
                [
                    "06-28",
                    141840.0
                ],
                [
                    "06-29",
                    169500.0
                ],
                [
                    "06-30",
                    138600.0
                ],
                [
                    "07-01",
                    162750.0
                ],
                [
                    "07-02",
                    127543.48
                ],
                [
                    "07-03",
                    137394.59
                ],
                [
                    "07-04",
                    143907.21
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u4eba\u5de5\u667a\u80fd",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "06-22",
                    277500.0
                ],
                [
                    "06-23",
                    132000.0
                ],
                [
                    "06-24",
                    186000.0
                ],
                [
                    "06-25",
                    325000.0
                ],
                [
                    "06-26",
                    260000.0
                ],
                [
                    "06-27",
                    345000.0
                ],
                [
                    "06-28",
                    468750.0
                ],
                [
                    "06-29",
                    189000.0
                ],
                [
                    "06-30",
                    262500.0
                ],
                [
                    "07-01",
                    150000.0
                ],
                [
                    "07-02",
                    390000.0
                ],
                [
                    "07-03",
                    192000.0
                ],
                [
                    "07-04",
                    248500.0
                ],
                [
                    "07-05",
                    240000.0
                ],
                [
                    "07-06",
                    158000.0
                ],
                [
                    "07-07",
                    132500.0
                ],
                [
                    "07-08",
                    126000.0
                ],
                [
                    "07-09",
                    310500.0
                ],
                [
                    "07-11",
                    550000.0
                ],
                [
                    "07-12",
                    180000.0
                ],
                [
                    "07-13",
                    450000.0
                ],
                [
                    "07-14",
                    324500.0
                ],
                [
                    "07-15",
                    192666.67
                ],
                [
                    "07-16",
                    265703.7
                ],
                [
                    "07-18",
                    348141.3
                ],
                [
                    "07-19",
                    280203.12
                ],
                [
                    "07-21",
                    266682.98
                ],
                [
                    "07-22",
                    250994.17
                ],
                [
                    "07-23",
                    279875.0
                ],
                [
                    "07-24",
                    235163.41
                ],
                [
                    "07-25",
                    256900.8
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "python",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "06-22",
                    350000.0
                ],
                [
                    "06-23",
                    390000.0
                ],
                [
                    "06-24",
                    136500.0
                ],
                [
                    "06-25",
                    420000.0
                ],
                [
                    "06-26",
                    180000.0
                ],
                [
                    "06-27",
                    184500.0
                ],
                [
                    "06-28",
                    146000.0
                ],
                [
                    "06-29",
                    160000.0
                ],
                [
                    "06-30",
                    199875.0
                ],
                [
                    "07-01",
                    174333.33
                ],
                [
                    "07-02",
                    172000.0
                ],
                [
                    "07-03",
                    66250.0
                ],
                [
                    "07-04",
                    173593.75
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u9500\u552e",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "06-22",
                    97000.0
                ],
                [
                    "06-23",
                    150000.0
                ],
                [
                    "06-24",
                    127500.0
                ],
                [
                    "06-25",
                    177000.0
                ],
                [
                    "06-26",
                    180000.0
                ],
                [
                    "06-27",
                    150000.0
                ],
                [
                    "06-28",
                    133321.88
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u5f8b\u5e08",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "06-22",
                    138000.0
                ],
                [
                    "06-23",
                    270000.0
                ],
                [
                    "06-24",
                    200000.0
                ],
                [
                    "06-25",
                    80000.0
                ],
                [
                    "06-26",
                    660000.0
                ],
                [
                    "06-27",
                    136124.24
                ],
                [
                    "06-28",
                    154416.67
                ],
                [
                    "06-29",
                    155833.33
                ],
                [
                    "06-30",
                    144648.15
                ],
                [
                    "07-01",
                    140542.03
                ],
                [
                    "07-02",
                    164216.67
                ],
                [
                    "07-03",
                    160239.29
                ],
                [
                    "07-04",
                    149587.12
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u56fe\u50cf\u5904\u7406",
                "\u8bed\u97f3\u8bc6\u522b",
                "\u6570\u636e\u6316\u6398\u5de5\u7a0b\u5e08",
                "\u7b97\u6cd5\u5de5\u7a0b\u5e08",
                "\u6570\u636e\u5206\u6790\u5e08",
                "\u4eba\u5de5\u667a\u80fd",
                "python",
                "\u9500\u552e",
                "\u5f8b\u5e08"
            ],
            "selected": {
                "\u56fe\u50cf\u5904\u7406": true,
                "\u8bed\u97f3\u8bc6\u522b": true,
                "\u6570\u636e\u6316\u6398\u5de5\u7a0b\u5e08": true,
                "\u7b97\u6cd5\u5de5\u7a0b\u5e08": true,
                "\u6570\u636e\u5206\u6790\u5e08": true,
                "\u4eba\u5de5\u667a\u80fd": true,
                "python": true,
                "\u9500\u552e": true,
                "\u5f8b\u5e08": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "\u65e5\u671f",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "06-22",
                "06-23",
                "06-24",
                "06-25",
                "06-26",
                "06-27",
                "06-28",
                "06-29",
                "06-30",
                "07-01",
                "07-02",
                "07-03",
                "07-04",
                "07-05",
                "07-06",
                "07-07",
                "07-08",
                "07-09",
                "07-11",
                "07-12",
                "07-13",
                "07-14",
                "07-15",
                "07-16",
                "07-18",
                "07-19",
                "07-21",
                "07-22",
                "07-23",
                "07-24",
                "07-25",
                "07-26",
                "07-27",
                "07-28",
                "07-29",
                "07-30",
                "07-31",
                "08-01",
                "08-02",
                "08-03",
                "08-04",
                "08-05",
                "08-06",
                "08-07",
                "08-08",
                "08-09",
                "08-10",
                "08-11",
                "08-12",
                "08-13",
                "08-14",
                "08-15",
                "08-16",
                "08-17",
                "08-18",
                "08-19",
                "08-20",
                "08-21",
                "08-22"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u85aa\u8d44\uff08\u5143/\u6708\uff09",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5404\u5c97\u4f4d\u65e5\u53d1\u5e03\u5e73\u5747\u85aa\u8d44",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        },
        {
            "show": true,
            "type": "inside",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        }
    ]
};
        chart_bf8a3a8772654296b5bff5e355a01109.setOption(option_bf8a3a8772654296b5bff5e355a01109);
    </script>
</body>
</html>
