<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="dd745eaff257464997452c43fc431c7e" class="chart-container" style="width:1400px; height:700px;"></div>
    <script>
        var chart_dd745eaff257464997452c43fc431c7e = echarts.init(
            document.getElementById('dd745eaff257464997452c43fc431c7e'), 'white', {renderer: 'canvas'});
        var option_dd745eaff257464997452c43fc431c7e = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u6700\u9ad8\u5b66\u5386\u5e73\u5747\u85aa\u8d44",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u4e2d\u4e13",
                    [
                        106552.0
                    ]
                ],
                [
                    "\u535a\u58eb",
                    [
                        467075.76
                    ]
                ],
                [
                    "\u5927\u4e13",
                    [
                        128046.59
                    ]
                ],
                [
                    "\u672c\u79d1",
                    [
                        215482.28
                    ]
                ],
                [
                    "\u7855\u58eb",
                    [
                        291641.87
                    ]
                ],
                [
                    "\u9ad8\u4e2d",
                    [
                        94304.35
                    ]
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u6700\u9ad8\u5b66\u5386\u5e73\u5747\u85aa\u8d44"
            ],
            "selected": {
                "\u6700\u9ad8\u5b66\u5386\u5e73\u5747\u85aa\u8d44": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "\u6700\u9ad8\u5b66\u5386",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u4e2d\u4e13",
                "\u535a\u58eb",
                "\u5927\u4e13",
                "\u672c\u79d1",
                "\u7855\u58eb",
                "\u9ad8\u4e2d"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u85aa\u8d44\uff08\u5143/\u6708\uff09",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u6700\u9ad8\u5b66\u5386\u5e73\u5747\u85aa\u8d44\u6c34\u5e73",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_dd745eaff257464997452c43fc431c7e.setOption(option_dd745eaff257464997452c43fc431c7e);
    </script>
</body>
</html>
