<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>

</head>
<body>
    <div id="fba91327a7864aabb2bde2633d687a64" class="chart-container" style="width:1400px; height:700px;"></div>
    <script>
        var chart_fba91327a7864aabb2bde2633d687a64 = echarts.init(
            document.getElementById('fba91327a7864aabb2bde2633d687a64'), 'white', {renderer: 'canvas'});
        var option_fba91327a7864aabb2bde2633d687a64 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "\u57ce\u5e02",
            "coordinateSystem": "geo",
            "symbolSize": 12,
            "data": [
                {
                    "name": "\u4e0a\u6d77",
                    "value": [
                        121.473701,
                        31.230416,
                        601
                    ]
                },
                {
                    "name": "\u6df1\u5733",
                    "value": [
                        114.07,
                        22.62,
                        431
                    ]
                },
                {
                    "name": "\u5e7f\u5dde",
                    "value": [
                        113.23,
                        23.16,
                        328
                    ]
                },
                {
                    "name": "\u6b66\u6c49",
                    "value": [
                        114.31,
                        30.52,
                        202
                    ]
                },
                {
                    "name": "\u676d\u5dde",
                    "value": [
                        120.19,
                        30.26,
                        163
                    ]
                },
                {
                    "name": "\u5317\u4eac",
                    "value": [
                        116.407526,
                        39.90403,
                        154
                    ]
                },
                {
                    "name": "\u82cf\u5dde",
                    "value": [
                        120.62,
                        31.32,
                        152
                    ]
                },
                {
                    "name": "\u5357\u4eac",
                    "value": [
                        118.78,
                        32.04,
                        147
                    ]
                },
                {
                    "name": "\u6210\u90fd",
                    "value": [
                        104.06,
                        30.67,
                        131
                    ]
                },
                {
                    "name": "\u957f\u6c99",
                    "value": [
                        113,
                        28.21,
                        69
                    ]
                },
                {
                    "name": "\u897f\u5b89",
                    "value": [
                        108.95,
                        34.27,
                        60
                    ]
                },
                {
                    "name": "\u4e1c\u839e",
                    "value": [
                        113.75,
                        23.04,
                        53
                    ]
                },
                {
                    "name": "\u5408\u80a5",
                    "value": [
                        117.27,
                        31.86,
                        53
                    ]
                },
                {
                    "name": "\u91cd\u5e86",
                    "value": [
                        106.551556,
                        29.563009,
                        53
                    ]
                },
                {
                    "name": "\u5b81\u6ce2",
                    "value": [
                        121.56,
                        29.86,
                        46
                    ]
                },
                {
                    "name": "\u6606\u660e",
                    "value": [
                        102.73,
                        25.04,
                        41
                    ]
                },
                {
                    "name": "\u4f5b\u5c71",
                    "value": [
                        113.11,
                        23.05,
                        40
                    ]
                },
                {
                    "name": "\u65e0\u9521",
                    "value": [
                        120.29,
                        31.59,
                        36
                    ]
                },
                {
                    "name": "\u73e0\u6d77",
                    "value": [
                        113.52,
                        22.3,
                        30
                    ]
                },
                {
                    "name": "\u5927\u8fde",
                    "value": [
                        121.62,
                        38.92,
                        23
                    ]
                },
                {
                    "name": "\u798f\u5dde",
                    "value": [
                        119.3,
                        26.08,
                        20
                    ]
                },
                {
                    "name": "\u53a6\u95e8",
                    "value": [
                        118.1,
                        24.46,
                        19
                    ]
                },
                {
                    "name": "\u5e38\u5dde",
                    "value": [
                        119.95,
                        31.79,
                        17
                    ]
                },
                {
                    "name": "\u6606\u5c71",
                    "value": [
                        120.95,
                        31.39,
                        17
                    ]
                },
                {
                    "name": "\u90d1\u5dde",
                    "value": [
                        113.65,
                        34.76,
                        16
                    ]
                },
                {
                    "name": "\u9752\u5c9b",
                    "value": [
                        120.33,
                        36.07,
                        16
                    ]
                },
                {
                    "name": "\u5609\u5174",
                    "value": [
                        120.76,
                        30.77,
                        15
                    ]
                },
                {
                    "name": "\u6c88\u9633",
                    "value": [
                        123.38,
                        41.8,
                        14
                    ]
                },
                {
                    "name": "\u5929\u6d25",
                    "value": [
                        117.200983,
                        39.084158,
                        14
                    ]
                },
                {
                    "name": "\u6d4e\u5357",
                    "value": [
                        117,
                        36.65,
                        13
                    ]
                },
                {
                    "name": "\u5357\u5b81",
                    "value": [
                        108.33,
                        22.84,
                        12
                    ]
                },
                {
                    "name": "\u5357\u660c",
                    "value": [
                        115.89,
                        28.68,
                        12
                    ]
                },
                {
                    "name": "\u5f90\u5dde",
                    "value": [
                        117.2,
                        34.26,
                        11
                    ]
                },
                {
                    "name": "\u60e0\u5dde",
                    "value": [
                        114.4,
                        23.09,
                        11
                    ]
                },
                {
                    "name": "\u4e2d\u5c71",
                    "value": [
                        113.38,
                        22.52,
                        9
                    ]
                },
                {
                    "name": "\u626c\u5dde",
                    "value": [
                        119.42,
                        32.39,
                        9
                    ]
                },
                {
                    "name": "\u6e29\u5dde",
                    "value": [
                        120.65,
                        28.01,
                        7
                    ]
                },
                {
                    "name": "\u829c\u6e56",
                    "value": [
                        118.38,
                        31.33,
                        7
                    ]
                },
                {
                    "name": "\u6c5f\u95e8",
                    "value": [
                        113.06,
                        22.61,
                        6
                    ]
                },
                {
                    "name": "\u9547\u6c5f",
                    "value": [
                        119.44,
                        32.2,
                        6
                    ]
                },
                {
                    "name": "\u6cc9\u5dde",
                    "value": [
                        118.58,
                        24.93,
                        5
                    ]
                },
                {
                    "name": "\u4e49\u4e4c",
                    "value": [
                        120.06,
                        29.32,
                        5
                    ]
                },
                {
                    "name": "\u77f3\u5bb6\u5e84",
                    "value": [
                        114.48,
                        38.03,
                        5
                    ]
                },
                {
                    "name": "\u6dee\u5b89",
                    "value": [
                        119.15,
                        33.5,
                        4
                    ]
                },
                {
                    "name": "\u8d35\u9633",
                    "value": [
                        106.71,
                        26.57,
                        4
                    ]
                },
                {
                    "name": "\u5e73\u9876\u5c71",
                    "value": [
                        113.29,
                        33.75,
                        4
                    ]
                },
                {
                    "name": "\u7ef5\u9633",
                    "value": [
                        104.73,
                        31.48,
                        4
                    ]
                },
                {
                    "name": "\u54c8\u5c14\u6ee8",
                    "value": [
                        126.63,
                        45.75,
                        3
                    ]
                },
                {
                    "name": "\u6d77\u53e3",
                    "value": [
                        110.35,
                        20.02,
                        3
                    ]
                },
                {
                    "name": "\u5e38\u719f",
                    "value": [
                        120.74,
                        31.64,
                        3
                    ]
                },
                {
                    "name": "\u6d77\u5b81",
                    "value": [
                        120.42,
                        30.32,
                        3
                    ]
                },
                {
                    "name": "\u91d1\u534e",
                    "value": [
                        119.64,
                        29.12,
                        3
                    ]
                },
                {
                    "name": "\u5409\u5b89",
                    "value": [
                        114.58,
                        27.07,
                        3
                    ]
                },
                {
                    "name": "\u6842\u6797",
                    "value": [
                        110.28,
                        25.29,
                        3
                    ]
                },
                {
                    "name": "\u592a\u539f",
                    "value": [
                        112.53,
                        37.87,
                        3
                    ]
                },
                {
                    "name": "\u6c5f\u82cf",
                    "value": [
                        118.763232,
                        32.061707,
                        3
                    ]
                },
                {
                    "name": "\u8346\u5dde",
                    "value": [
                        112.239741,
                        30.335165,
                        3
                    ]
                },
                {
                    "name": "\u94f6\u5ddd",
                    "value": [
                        106.27,
                        38.47,
                        3
                    ]
                },
                {
                    "name": "\u4e34\u6c82",
                    "value": [
                        118.35,
                        35.05,
                        2
                    ]
                },
                {
                    "name": "\u63ed\u9633",
                    "value": [
                        116.35,
                        23.55,
                        2
                    ]
                },
                {
                    "name": "\u5357\u901a",
                    "value": [
                        121.05,
                        32.08,
                        2
                    ]
                },
                {
                    "name": "\u54b8\u5b81",
                    "value": [
                        114.17,
                        29.53,
                        2
                    ]
                },
                {
                    "name": "\u5170\u5dde",
                    "value": [
                        103.73,
                        36.03,
                        2
                    ]
                },
                {
                    "name": "\u97f6\u5173",
                    "value": [
                        113.62,
                        24.84,
                        2
                    ]
                },
                {
                    "name": "\u6ec1\u5dde",
                    "value": [
                        118.18,
                        32.18,
                        2
                    ]
                },
                {
                    "name": "\u5a01\u6d77",
                    "value": [
                        122.1,
                        37.5,
                        2
                    ]
                },
                {
                    "name": "\u5fb7\u9633",
                    "value": [
                        104.37,
                        31.13,
                        2
                    ]
                },
                {
                    "name": "\u957f\u6625",
                    "value": [
                        125.35,
                        43.88,
                        2
                    ]
                },
                {
                    "name": "\u4e0a\u9976",
                    "value": [
                        117.58,
                        25.27,
                        2
                    ]
                },
                {
                    "name": "\u6d77\u5357",
                    "value": [
                        110.349228,
                        20.017377,
                        1
                    ]
                },
                {
                    "name": "\u5c71\u4e1c",
                    "value": [
                        117.020359,
                        36.66853,
                        1
                    ]
                },
                {
                    "name": "\u67a3\u5e84",
                    "value": [
                        117.57,
                        34.86,
                        1
                    ]
                },
                {
                    "name": "\u6c55\u5c3e",
                    "value": [
                        115.375279,
                        22.786211,
                        1
                    ]
                },
                {
                    "name": "\u961c\u9633",
                    "value": [
                        115.48,
                        32.54,
                        1
                    ]
                },
                {
                    "name": "\u6cb3\u6e90",
                    "value": [
                        114.68,
                        23.73,
                        1
                    ]
                },
                {
                    "name": "\u8fde\u4e91\u6e2f",
                    "value": [
                        119.16,
                        34.59,
                        1
                    ]
                },
                {
                    "name": "\u6885\u5dde",
                    "value": [
                        116.1,
                        24.55,
                        1
                    ]
                },
                {
                    "name": "\u547c\u548c\u6d69\u7279",
                    "value": [
                        111.65,
                        40.82,
                        1
                    ]
                },
                {
                    "name": "\u5e7f\u5b89",
                    "value": [
                        106.63,
                        30.47,
                        1
                    ]
                },
                {
                    "name": "\u7389\u6eaa",
                    "value": [
                        102.52,
                        24.35,
                        1
                    ]
                },
                {
                    "name": "\u897f\u53cc\u7248\u7eb3",
                    "value": [
                        100.8,
                        22.02,
                        1
                    ]
                },
                {
                    "name": "\u6cf0\u5dde",
                    "value": [
                        119.9,
                        32.49,
                        1
                    ]
                },
                {
                    "name": "\u4eb3\u5dde",
                    "value": [
                        115.47,
                        33.52,
                        1
                    ]
                },
                {
                    "name": "\u5bbf\u8fc1",
                    "value": [
                        118.3,
                        33.96,
                        1
                    ]
                },
                {
                    "name": "\u4e3d\u6c34",
                    "value": [
                        119.92,
                        28.45,
                        1
                    ]
                },
                {
                    "name": "\u592a\u4ed3",
                    "value": [
                        121.1,
                        31.45,
                        1
                    ]
                },
                {
                    "name": "\u76ca\u9633",
                    "value": [
                        112.2,
                        28.36,
                        1
                    ]
                },
                {
                    "name": "\u4fdd\u5b9a",
                    "value": [
                        115.48,
                        38.85,
                        1
                    ]
                },
                {
                    "name": "\u6e05\u8fdc",
                    "value": [
                        113.01,
                        23.7,
                        1
                    ]
                },
                {
                    "name": "\u6e5b\u6c5f",
                    "value": [
                        110.359377,
                        21.270708,
                        1
                    ]
                },
                {
                    "name": "\u6bd5\u8282",
                    "value": [
                        105.18,
                        27.18,
                        1
                    ]
                },
                {
                    "name": "\u8862\u5dde",
                    "value": [
                        118.88,
                        28.97,
                        1
                    ]
                },
                {
                    "name": "\u8087\u5e86",
                    "value": [
                        112.44,
                        23.05,
                        1
                    ]
                },
                {
                    "name": "\u5eca\u574a",
                    "value": [
                        116.7,
                        39.53,
                        1
                    ]
                },
                {
                    "name": "\u90a2\u53f0",
                    "value": [
                        114.48,
                        37.05,
                        1
                    ]
                },
                {
                    "name": "\u7126\u4f5c",
                    "value": [
                        113.21,
                        35.24,
                        1
                    ]
                },
                {
                    "name": "\u5b9c\u660c",
                    "value": [
                        111.3,
                        30.7,
                        1
                    ]
                },
                {
                    "name": "\u957f\u6cbb",
                    "value": [
                        113.08,
                        36.18,
                        1
                    ]
                },
                {
                    "name": "\u53f0\u5dde",
                    "value": [
                        121.420757,
                        28.656386,
                        1
                    ]
                },
                {
                    "name": "\u6d59\u6c5f",
                    "value": [
                        120.152791,
                        30.267446,
                        1
                    ]
                },
                {
                    "name": "\u6e56\u5dde",
                    "value": [
                        120.1,
                        30.86,
                        1
                    ]
                },
                {
                    "name": "\u65b0\u4e61",
                    "value": [
                        113.52,
                        35.18,
                        1
                    ]
                },
                {
                    "name": "\u5e7f\u4e1c",
                    "value": [
                        113.26653,
                        23.132191,
                        1
                    ]
                },
                {
                    "name": "\u8944\u9633",
                    "value": [
                        112.2,
                        32.08,
                        1
                    ]
                },
                {
                    "name": "\u8d63\u5dde",
                    "value": [
                        114.56,
                        28.52,
                        1
                    ]
                },
                {
                    "name": "\u65e5\u7167",
                    "value": [
                        119.46,
                        35.42,
                        1
                    ]
                },
                {
                    "name": "\u5cb3\u9633",
                    "value": [
                        113.09,
                        29.37,
                        1
                    ]
                },
                {
                    "name": "\u5305\u5934",
                    "value": [
                        110,
                        40.58,
                        1
                    ]
                },
                {
                    "name": "\u4e5d\u6c5f",
                    "value": [
                        115.97,
                        29.71,
                        1
                    ]
                }
            ],
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u57ce\u5e02"
            ],
            "selected": {
                "\u57ce\u5e02": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "formatter": function (params) {        return params.name + ' : ' + params.value[2];    },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u57ce\u5e02\u5c97\u4f4d\u6570\u91cf\u5206\u5e03\u5730\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 30,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    },
    "geo": {
        "map": "china",
        "roam": true,
        "aspectScale": 0.75,
        "nameProperty": "name",
        "selectedMode": false,
        "emphasis": {}
    }
};
        chart_fba91327a7864aabb2bde2633d687a64.setOption(option_fba91327a7864aabb2bde2633d687a64);
    </script>
</body>
</html>
