<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="eb69d353553d4c6f82cef1053fbceee6" class="chart-container" style="width:1400px; height:700px;"></div>
    <script>
        var chart_eb69d353553d4c6f82cef1053fbceee6 = echarts.init(
            document.getElementById('eb69d353553d4c6f82cef1053fbceee6'), 'white', {renderer: 'canvas'});
        var option_eb69d353553d4c6f82cef1053fbceee6 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u56fe\u50cf\u5904\u7406",
            "legendHoverLink": true,
            "data": [
                1.0,
                2.0,
                1.0,
                1.0,
                1.0,
                2.0,
                1.0,
                1.0,
                1.0,
                1.0,
                2.0,
                1.0,
                2.0,
                1.0,
                1.0,
                1.0,
                2.0,
                3.0,
                2.0,
                1.0,
                1.0,
                3.0,
                1.0,
                1.0,
                1.0,
                1.0,
                7.0,
                4.0,
                5.0,
                4.0,
                14.0,
                4.0,
                4.0,
                34.0
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u8bed\u97f3\u8bc6\u522b",
            "legendHoverLink": true,
            "data": [
                1.0,
                1.0,
                1.0,
                1.0,
                3.0,
                3.0,
                6.0
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u673a\u5668\u5b66\u4e60",
            "legendHoverLink": true,
            "data": [
                1.0,
                1.0,
                1.0,
                1.0,
                1.0,
                1.0,
                1.0,
                1.0,
                1.0,
                1.0,
                1.0,
                2.0,
                1.0,
                3.0,
                3.0,
                4.0,
                8.0,
                1.0,
                2.0,
                15.0
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u6570\u636e\u6316\u6398\u5de5\u7a0b\u5e08",
            "legendHoverLink": true,
            "data": [
                1.0,
                1.0,
                1.0,
                2.0,
                1.0,
                1.0,
                3.0,
                1.0,
                1.0,
                2.0,
                1.0,
                1.0,
                1.0,
                2.0,
                2.0,
                2.0,
                1.0,
                1.0,
                2.0,
                2.0,
                6.0,
                2.0,
                2.0,
                5.0,
                8.0,
                3.0,
                7.0,
                19.0
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u7b97\u6cd5\u5de5\u7a0b\u5e08",
            "legendHoverLink": true,
            "data": [
                3.0,
                1.0,
                1.0,
                1.0,
                1.0,
                1.0,
                1.0,
                1.0,
                2.0,
                3.0,
                2.0,
                1.0,
                4.0,
                5.0,
                2.0,
                4.0,
                2.0,
                3.0,
                2.0,
                4.0,
                2.0,
                3.0,
                5.0,
                1.0,
                6.0,
                5.0,
                2.0,
                4.0,
                5.0,
                1.0,
                8.0,
                4.0,
                1.0,
                1.0,
                8.0,
                13.0,
                6.0,
                10.0,
                5.0,
                4.0,
                1.0,
                32.0,
                18.0,
                14.0,
                21.0,
                61.0,
                21.0,
                19.0,
                576.0
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u6570\u636e\u5206\u6790\u5e08",
            "legendHoverLink": true,
            "data": [
                1.0,
                1.0,
                1.0,
                1.0,
                3.0,
                20.0,
                5.0,
                4.0,
                5.0,
                40.0,
                23.0,
                37.0,
                444.0
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u4eba\u5de5\u667a\u80fd",
            "legendHoverLink": true,
            "data": [
                4.0,
                1.0,
                2.0,
                1.0,
                1.0,
                2.0,
                2.0,
                2.0,
                2.0,
                1.0,
                1.0,
                1.0,
                2.0,
                1.0,
                3.0,
                4.0,
                1.0,
                7.0,
                2.0,
                1.0,
                1.0,
                5.0,
                3.0,
                27.0,
                23.0,
                32.0,
                47.0,
                103.0,
                32.0,
                41.0,
                251.0
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "python",
            "legendHoverLink": true,
            "data": [
                1.0,
                1.0,
                1.0,
                1.0,
                1.0,
                2.0,
                5.0,
                3.0,
                8.0,
                12.0,
                3.0,
                3.0,
                16.0
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u9500\u552e",
            "legendHoverLink": true,
            "data": [
                2.0,
                1.0,
                2.0,
                2.0,
                2.0,
                1.0,
                393.0
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u5f8b\u5e08",
            "legendHoverLink": true,
            "data": [
                1.0,
                1.0,
                1.0,
                1.0,
                1.0,
                33.0,
                12.0,
                12.0,
                27.0,
                69.0,
                30.0,
                28.0,
                163.0
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u56fe\u50cf\u5904\u7406",
                "\u8bed\u97f3\u8bc6\u522b",
                "\u673a\u5668\u5b66\u4e60",
                "\u6570\u636e\u6316\u6398\u5de5\u7a0b\u5e08",
                "\u7b97\u6cd5\u5de5\u7a0b\u5e08",
                "\u6570\u636e\u5206\u6790\u5e08",
                "\u4eba\u5de5\u667a\u80fd",
                "python",
                "\u9500\u552e",
                "\u5f8b\u5e08"
            ],
            "selected": {
                "\u56fe\u50cf\u5904\u7406": true,
                "\u8bed\u97f3\u8bc6\u522b": true,
                "\u673a\u5668\u5b66\u4e60": true,
                "\u6570\u636e\u6316\u6398\u5de5\u7a0b\u5e08": true,
                "\u7b97\u6cd5\u5de5\u7a0b\u5e08": true,
                "\u6570\u636e\u5206\u6790\u5e08": true,
                "\u4eba\u5de5\u667a\u80fd": true,
                "python": true,
                "\u9500\u552e": true,
                "\u5f8b\u5e08": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "\u65e5\u671f",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "06-22",
                "06-23",
                "06-24",
                "06-25",
                "06-26",
                "06-27",
                "06-28",
                "06-29",
                "06-30",
                "07-01",
                "07-02",
                "07-03",
                "07-04",
                "07-05",
                "07-06",
                "07-07",
                "07-08",
                "07-09",
                "07-11",
                "07-12",
                "07-13",
                "07-14",
                "07-15",
                "07-16",
                "07-18",
                "07-19",
                "07-21",
                "07-22",
                "07-23",
                "07-24",
                "07-25",
                "07-26",
                "07-27",
                "07-28",
                "07-29",
                "07-30",
                "07-31",
                "08-01",
                "08-02",
                "08-03",
                "08-04",
                "08-05",
                "08-06",
                "08-07",
                "08-08",
                "08-09",
                "08-10",
                "08-11",
                "08-12",
                "08-13",
                "08-14",
                "08-15",
                "08-16",
                "08-17",
                "08-18",
                "08-19",
                "08-20",
                "08-21",
                "08-22"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u5c97\u4f4d\u6570\u91cf",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5404\u5c97\u4f4d\u65e5\u53d1\u5e03\u91cf",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        },
        {
            "show": true,
            "type": "inside",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        }
    ]
};
        chart_eb69d353553d4c6f82cef1053fbceee6.setOption(option_eb69d353553d4c6f82cef1053fbceee6);
    </script>
</body>
</html>
