<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="a4f7ff87192b4a41869d7abcf04c8e16" class="chart-container" style="width:1400px; height:700px;"></div>
    <script>
        var chart_a4f7ff87192b4a41869d7abcf04c8e16 = echarts.init(
            document.getElementById('a4f7ff87192b4a41869d7abcf04c8e16'), 'white', {renderer: 'canvas'});
        var option_a4f7ff87192b4a41869d7abcf04c8e16 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u6c11\u8425\u516c\u53f8",
                    "value": 2064
                },
                {
                    "name": "\u4e0a\u5e02\u516c\u53f8",
                    "value": 298
                },
                {
                    "name": "\u56fd\u4f01",
                    "value": 217
                },
                {
                    "name": "\u5408\u8d44",
                    "value": 207
                },
                {
                    "name": "\u5916\u8d44\uff08\u975e\u6b27\u7f8e\uff09",
                    "value": 165
                },
                {
                    "name": "\u5916\u8d44\uff08\u6b27\u7f8e\uff09",
                    "value": 128
                },
                {
                    "name": "\u521b\u4e1a\u516c\u53f8",
                    "value": 48
                },
                {
                    "name": "\u4e8b\u4e1a\u5355\u4f4d",
                    "value": 45
                },
                {
                    "name": "\u975e\u8425\u5229\u7ec4\u7ec7",
                    "value": 14
                },
                {
                    "name": "\u5916\u4f01\u4ee3\u8868\u5904",
                    "value": 3
                },
                {
                    "name": "\u653f\u5e9c\u673a\u5173",
                    "value": 1
                }
            ],
            "radius": [
                "10%",
                "40%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "roseType": "area",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {c}({d}%)"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6c11\u8425\u516c\u53f8",
                "\u4e0a\u5e02\u516c\u53f8",
                "\u56fd\u4f01",
                "\u5408\u8d44",
                "\u5916\u8d44\uff08\u975e\u6b27\u7f8e\uff09",
                "\u5916\u8d44\uff08\u6b27\u7f8e\uff09",
                "\u521b\u4e1a\u516c\u53f8",
                "\u4e8b\u4e1a\u5355\u4f4d",
                "\u975e\u8425\u5229\u7ec4\u7ec7",
                "\u5916\u4f01\u4ee3\u8868\u5904",
                "\u653f\u5e9c\u673a\u5173"
            ],
            "selected": {},
            "show": true,
            "left": "80%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u516c\u53f8\u6027\u8d28\u5206\u5e03\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_a4f7ff87192b4a41869d7abcf04c8e16.setOption(option_a4f7ff87192b4a41869d7abcf04c8e16);
    </script>
</body>
</html>
